.hc6_maincont {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 0.6rem;
}

.hc6item_maincont {
  min-height: 4rem;
  padding: 0 1rem;
  font-size: 0.8rem;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  align-items: center;

  border-radius: 10px;
}

.hc6_details {
  align-items: center;
  display: flex;
  flex-grow: 1;
  color: #000000;
}

.hc6item_img {
  height: 2rem;
  width: 2rem;
  margin-right: 1rem;
}
